* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

h1 {
	font-size: 20px;
	text-align: center;
	color: black;
}


div.blogHeader { //targeting the div with a class named blogHeader
//div .blogHeader  - targeting a class called blogHeader inside of a random div

		img#logo {

		    position: absolute;
		    left: 15%;
		    bottom: 37%;
		    width: 100px;
		    border-radius: 50%;
		    border: 10px solid white;
		}

}

div#column1 {

	width: 30%;
  	margin: 0 auto;
  	position: relative;

}

div#column2 {

	  width: 25%;
	  border-bottom: blue;
	  display: inline-block;
	  position: absolute;
	  margin-left: 6%;
	  top: 66.7%;
	  border-bottom: 2px solid lightgray;
 


}

 #search {
	  position: absolute;
	  top: 80%;
	  left: 10%;
}

